{% extends 'ITBANK/base.html' %} 

{% block title %}Inversiones{% endblock %}

{% block styleFiles %}
{%load static %}
<link rel="stylesheet" href="{% static 'ITBANK/style/home.css' %}">
<link rel="stylesheet" href="{% static 'ITBANK/style/inversiones.css' %}">
{% endblock %}


{% block content %}

<main>
    <div class="publicidad-principal">
      <div class="contenedor">
        <h3 class="titulo">Todas las alternativas de inversión</h3>
        <p class="descripcion">Desde tu cuenta podés acceder a Bonos, Acciones, Futuros de Dólar, Fondos Comunes de Inversión y más. Podés operar y realizar el seguimiento de tu cuenta estés donde estés directamente desde nuestra plataforma web o desde tu celular a través de nuestra app.</p>
        <button role="button" class="boton"><i class="fa-solid fa-circle-info"></i>Más información</button> <!--El role button mejora accesibilidad-->
      </div>
    </div>

   
  </main>

  <div class="modelo-de-atencion">

    <article class="columna1 px-4">
      <h5 class="titulo-ma">Accesibilidad total</h5>
      <hr>
      <p class="">Desde tu cuenta podés acceder a Bonos,Acciones, Futuros de Dolár, Fondos comunes de invercion y más </p>
    </article>

      <article class="columna1 px-4">
        <h5 class="titulo-ma">Asesoramiento</h5>
        <hr>
        <p class="">Te asignaremos un asesor personalizado que te guiara en el alta de tu cuenta, analizara tu perfil, diseñaran juntos una estrategia de inversion y seguira el desempeño de tu cartera.Podras contactarlo en todo momento. </p>
      </article>

        <article class="columna1 px-4">
          <h5 class="titulo-ma">Operatoria online</h5>
          <hr>
          <p class="">Podes operar y realizar seguimiento de tu cuenta estes donde estes directamente desde nuestra plataforma web o desde tu celular a travez de nuestra App.</p>
        </article>
  </div>

    <script src="https://kit.fontawesome.com/c301eb48e5.js" crossorigin="anonymous"></script>

{% endblock %}
