{% extends 'ITBANK/base.html' %} 

{% block title %}Sucursales y cajeros{% endblock %}

{% block styleFiles %}
{%load static %}
<link rel="stylesheet" href="{% static 'ITBANK/style/home.css' %}">
{% endblock %}

{% block content %}
    <center>
        <h1 class="header">Nuestras Sucursales</h1>
    </center>
            <div>
                <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.5143752698864!2d-58.408579484235965!3d-34.64171046701741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a335326563a44b%3A0x687ed059ee29af95!2sITBA%20Sede%20Rectorado!5e0!3m2!1ses-419!2sar!4v1653061750517!5m2!1ses-419!2sar" width="100%" height="750" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
        </section>
 

</div>

{% endblock %}