{% extends 'ITBANK/base.html' %} 

{% block title %}Terminos{% endblock %}

{% block styleFiles %}
{%load static %}
<link rel="stylesheet" href="{% static 'ITBANK/style/terminos.css' %}">
{% endblock %}

{% block content %}

<div class="terminos-background">
        <div class="terminos-section section-container">
          <h1>Legales</h1>

          <div class="legal-section-container" id="seccion-1">
            <h3 class="legal-section-container--titulo">Términos y condiciones</h3>
            <p class="legal-section-container--parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
          </div>
          <div class="legal-section-container" id="seccion-2">
            <h3 class="legal-section-container--titulo">Política de provacidad</h3>
            <p class="legal-section-container--parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
          </div>
          <div class="legal-section-container" id="seccion-3">
            <h3 class="legal-section-container--titulo">Cookies</h3>
            <p class="legal-section-container--parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
          </div>
          <div class="legal-section-container" id="seccion-4">
            <h3 class="legal-section-container--titulo">Prestamos</h3>
            <p class="legal-section-container--parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
          </div>
          <div class="legal-section-container" id="seccion-4">
            <h3 class="legal-section-container--titulo">Inversiones</h3>
            <p class="legal-section-container--parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
          </div>
          <div class="legal-section-container" id="seccion-4">
            <h3 class="legal-section-container--titulo">Tarjeta de crédito</h3>
            <p class="legal-section-container--parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
            <p class="legal-section-container--parrafo">Consectetur adipisicing elit. Accusantium ipsum harum unde optio. Nihil praesentium repellendus culpa labore quidem architecto reiciendis, consequatur ipsum harum quam facilis facere nobis rerum aperiam.</p>
          </div>
        </div>
      </div>
    
  <!--Para los iconos utilizados-->
  <script src="https://kit.fontawesome.com/c301eb48e5.js" crossorigin="anonymous"></script>
{% endblock %}