.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px 50px 50px;
}

.footer{
    margin-top: 0;
}

.name{
    font-size: x-large;
    font-weight: 700;
}
.profile-text{
    font-size: medium ;
}

.carta-container{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 10vw;
    width: 100%;

}

.carta{ 
    /* flex-basis: 33.3%; */
    display: flex;
    flex-direction: column;
    margin: 7px;
    border-radius: 10px;
    background-color: white;
    border: 10px solid rgba(0, 0, 0, 0);
    min-width: 250px;
    max-width: 350px;
}

.carta span{
    font-size:larger;
    font-weight: 600;
    color: #0357d6 ;
}





